:root {
    --primary-morado: #55209E;
    --secundary-morado: #9560D2;
    --third-morado: #CCB0E9;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

header{
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 1;

}

body{

    font-family: 'Times New Roman';
}


.navbar-Container {
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 1rem 2rem;
}

.img-Navbar{
    height: 4rem;
    transition: .5s;
}

.img-Navbar:hover{
    transform: scale(1.1);
}

.navbar-Button {
    border: none;
    cursor: pointer;
    padding: 0rem 1rem;
    font-size: 1.6rem;
    background-color: none;
    list-style: none;  
    text-decoration: none;  
    color: black;
    transition: .5s;
    font-weight: bold;
    
}

.navbar-Button.active{
    color: var(--primary-azul);
}

.navbar-Button:hover {
    color: purple;
}

.navbar-toggler{
    border: 1px var(--primary-morado) solid !important;
    background: none;
    height: 3rem;
    width: 3rem;
    padding: 0 !important;
    
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2886, 179, 250, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
} 

.button-Close{
    background: none;
    border: none;
    margin: calc(-.5* var(--bs-offcanvas-padding-y)) calc(-.5* var(--bs-offcanvas-padding-x)) calc(-.5* var(--bs-offcanvas-padding-y)) auto;
    padding: calc(var(--bs-offcanvas-padding-y)* .5) calc(var(--bs-offcanvas-padding-x)* .5);;
}


.home-container {
    margin-top: 5rem;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}


.bg-image {
    background-image: url("../img/home3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con 50% de opacidad */
    z-index: -1;
}


.text-overlay {
    position: relative;
    z-index: 1;
}

.title-Home{
    color: white;
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(14, 13, 13, 0.5);
    z-index: 1;
    text-align: center;
}

.profession-Home{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(14, 13, 13, 0.5);

}

.eslogan-Home{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(14, 13, 13, 0.5);

}

.text-Container {
    position: relative;
    padding: 15rem 1rem;
}

.image-Background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/home1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    z-index: 0;
}

.image-Background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(122, 40, 147, 0.7); 
    z-index: -1;
}

.text-Content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.text-Venta {
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.servicios-Container{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.titles-H1{
    font-size: 3.3rem;
    letter-spacing: .2rem;
    margin-top: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.card-Services{
    border-top: none ;
    border-left: none ;
    border-right: none;
    border-bottom: 5px var(--secundary-morado) solid ;
    border-bottom-right-radius: 1rem ;
    border-bottom-left-radius: 1rem ;
}

.svg-Container svg{
    background-color: #CCB0E9;
    border-radius: 3rem;
    padding: .5rem;
}

.card-Title{
    font-size: 2.3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.card-p{
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
}

.sobremi-h1{
    text-align: center;
}

.img-Sobremi{
    height: 50rem;
}

.p-Sobremi{
    font-size: 1.8rem;
    line-height: 2;
}


@media (max-width: 768px) {


.navbar-Container {
    display: flex;
    align-items: center;
    margin: auto;
}

.off-Canvas-Header{
    color: white;
}

.off-Canvas{
    background-color: rgb(235, 234, 234) !important;
   
}

.offcanvas.offcanvas-end{
    width: 65% !important;
    transition: all 0.4s ease;
    
}

.navbar-Button{
    font-size: 2rem;
    letter-spacing: 0;
}

.nav-item{
    padding-top: 2rem;
}

 }